* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

div#game {
	position: relative;
	height: 556px;
	width: 556px;

	margin: 20px;

	border-width: 3px;
	border-style: solid;
	border-color: #999;

	background-color: #bbb
}

div.cell {
	float: left;
	height: 50px;
	width: 50px;

	border-width: 1px;
	border-style: solid;
	border-color: #bbb;

	background-color: #ddd;
}

#game.hidden {
	display: none;
}